# virtual environments
env/
env_test/

# distribution stuff
dist/
.eggs/

# build stuff
__pycache__/
opfi.egg-info/
.eggs/
*.o
build/
lib/pilercr1.06/pilercr

# dev tools
.vscode

# Don't check metadata for property-based tests into version control
.hypothesis

# read the docs generated html
docs/_build