# virtual environments
env/
env_test/

# distribution stuff
crisposon.egg-info/
dist/

# build stuff
__pycache__/

# dev tools
.vscode

# misc
junk/
data/
out
job_scripts/

# Don't check metadata for property-based tests into version control
.hypothesis
