# virtual environments
env/
env_test/
env-dist/

# distribution artifacts
dist/
.eggs/
opfi.egg-info/
build/

# don't include compiled pilercr
*.o
lib/pilercr1.06/pilercr

# dev tools
.vscode

# Don't check metadata for property-based tests into version control
.hypothesis

# read the docs generated html
docs/_build

# python notebook checkpoints
.ipynb_checkpoints

__pycache__/